/examples/node_modules
/mcp-server
/bin
/.eslintcache
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
.DS_Store
.env
.env.local
.env.*.local
/react-query
/.speakeasy/reports
/funcs
/core.*
/__tests__
/esm
/dist
/.tshy
/.tshy-*
/models
/models/errors
/types
/lib
/sdk
/hooks
/index.*
/cjs
/node_modules
/.tsbuildinfo
.idea
*.iml
build
