/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { ShippoCore } from "../core.js";
import { encodeSimple as encodeSimple$ } from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
    ConnectionError,
    InvalidRequestError,
    RequestAbortedError,
    RequestTimeoutError,
    UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKError } from "../models/errors/sdkerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { Result } from "../types/fp.js";

/**
 * Purchase a batch
 *
 * @remarks
 * Purchases an existing batch with a status of `VALID`.
 * Once you send a POST request to the purchase endpoint the batch status will change to `PURCHASING`.
 * When all the shipments are purchased, the status will change to `PURCHASED` and you will receive a
 * `batch_purchased` webhook indicating that the batch has been purchased
 */
export async function batchesPurchase(
    client$: ShippoCore,
    batchId: string,
    options?: RequestOptions
): Promise<
    Result<
        components.Batch,
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >
> {
    const input$: operations.PurchaseBatchRequest = {
        batchId: batchId,
    };

    const parsed$ = schemas$.safeParse(
        input$,
        (value$) => operations.PurchaseBatchRequest$outboundSchema.parse(value$),
        "Input validation failed"
    );
    if (!parsed$.ok) {
        return parsed$;
    }
    const payload$ = parsed$.value;
    const body$ = null;

    const pathParams$ = {
        BatchId: encodeSimple$("BatchId", payload$.BatchId, {
            explode: false,
            charEncoding: "percent",
        }),
    };

    const path$ = pathToFunc("/batches/{BatchId}/purchase")(pathParams$);

    const headers$ = new Headers({
        Accept: "application/json",
        "SHIPPO-API-VERSION": encodeSimple$(
            "SHIPPO-API-VERSION",
            client$.options$.shippoApiVersion,
            { explode: false, charEncoding: "none" }
        ),
    });

    const apiKeyHeader$ = await extractSecurity(client$.options$.apiKeyHeader);
    const security$ = apiKeyHeader$ == null ? {} : { apiKeyHeader: apiKeyHeader$ };
    const context = {
        operationID: "PurchaseBatch",
        oAuth2Scopes: [],
        securitySource: client$.options$.apiKeyHeader,
    };
    const securitySettings$ = resolveGlobalSecurity(security$);

    const requestRes = client$.createRequest$(
        context,
        {
            security: securitySettings$,
            method: "POST",
            path: path$,
            headers: headers$,
            body: body$,
            timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
        },
        options
    );
    if (!requestRes.ok) {
        return requestRes;
    }
    const request$ = requestRes.value;

    const doResult = await client$.do$(request$, {
        context,
        errorCodes: ["400", "4XX", "5XX"],
        retryConfig: options?.retries || client$.options$.retryConfig,
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    });
    if (!doResult.ok) {
        return doResult;
    }
    const response = doResult.value;

    const [result$] = await m$.match<
        components.Batch,
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >(
        m$.json(202, components.Batch$inboundSchema),
        m$.fail([400, "4XX", "5XX"])
    )(response);
    if (!result$.ok) {
        return result$;
    }

    return result$;
}
