/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { ShippoCore } from "../core.js";
import { encodeSimple as encodeSimple$ } from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
    ConnectionError,
    InvalidRequestError,
    RequestAbortedError,
    RequestTimeoutError,
    UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKError } from "../models/errors/sdkerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { Result } from "../types/fp.js";

/**
 * Retrieve a batch
 *
 * @remarks
 * Returns a batch using an object ID. <br> Batch shipments are displayed 100 at a time.  You can iterate
 * through each `page` using the `?page= query` parameter.  You can also filter based on batch shipment
 * status, for example, by passing a query param like `?object_results=creation_failed`. <br>
 * For more details on filtering results, see our guide on <a href="https://docs.goshippo.com/docs/api_concepts/filtering/" target="blank"> filtering</a>.
 */
export async function batchesGet(
    client$: ShippoCore,
    batchId: string,
    options?: RequestOptions
): Promise<
    Result<
        components.Batch,
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >
> {
    const input$: operations.GetBatchRequest = {
        batchId: batchId,
    };

    const parsed$ = schemas$.safeParse(
        input$,
        (value$) => operations.GetBatchRequest$outboundSchema.parse(value$),
        "Input validation failed"
    );
    if (!parsed$.ok) {
        return parsed$;
    }
    const payload$ = parsed$.value;
    const body$ = null;

    const pathParams$ = {
        BatchId: encodeSimple$("BatchId", payload$.BatchId, {
            explode: false,
            charEncoding: "percent",
        }),
    };

    const path$ = pathToFunc("/batches/{BatchId}")(pathParams$);

    const headers$ = new Headers({
        Accept: "application/json",
        "SHIPPO-API-VERSION": encodeSimple$(
            "SHIPPO-API-VERSION",
            client$.options$.shippoApiVersion,
            { explode: false, charEncoding: "none" }
        ),
    });

    const apiKeyHeader$ = await extractSecurity(client$.options$.apiKeyHeader);
    const security$ = apiKeyHeader$ == null ? {} : { apiKeyHeader: apiKeyHeader$ };
    const context = {
        operationID: "GetBatch",
        oAuth2Scopes: [],
        securitySource: client$.options$.apiKeyHeader,
    };
    const securitySettings$ = resolveGlobalSecurity(security$);

    const requestRes = client$.createRequest$(
        context,
        {
            security: securitySettings$,
            method: "GET",
            path: path$,
            headers: headers$,
            body: body$,
            timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
        },
        options
    );
    if (!requestRes.ok) {
        return requestRes;
    }
    const request$ = requestRes.value;

    const doResult = await client$.do$(request$, {
        context,
        errorCodes: ["400", "4XX", "5XX"],
        retryConfig: options?.retries || client$.options$.retryConfig,
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    });
    if (!doResult.ok) {
        return doResult;
    }
    const response = doResult.value;

    const [result$] = await m$.match<
        components.Batch,
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >(
        m$.json(200, components.Batch$inboundSchema),
        m$.fail([400, "4XX", "5XX"])
    )(response);
    if (!result$.ok) {
        return result$;
    }

    return result$;
}
