/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { ShippoCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { ShippoError } from "../models/errors/shippoerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create a JWT
 *
 * @remarks
 * Creates a short-lived JSON Web Token (JWT) that client-side applications can use
 * to authenticate against the Shippo API without exposing a long-lived API token.
 *
 * Authenticate this request with either a Shippo API token
 * (`Authorization: ShippoToken <API_TOKEN>`) or an OAuth bearer token
 * (`Authorization: Bearer <OAUTH_BEARER_TOKEN>`). Platform accounts can mint a token
 * on behalf of a Managed Shippo Account by setting the `SHIPPO-ACCOUNT-ID` header.
 *
 * The returned token is valid for 12 hours. Send it on subsequent requests as
 * `Authorization: JWT <JWT_TOKEN>`.
 */
export function embeddedAuthorizationCreate(
  client: ShippoCore,
  security: operations.CreateEmbeddedAuthorizationSecurity,
  embeddedAuthorizationRequest: components.EmbeddedAuthorizationRequest,
  shippoAccountId?: string | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.EmbeddedAuthorization,
    | ShippoError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    embeddedAuthorizationRequest,
    shippoAccountId,
    options,
  ));
}

async function $do(
  client: ShippoCore,
  security: operations.CreateEmbeddedAuthorizationSecurity,
  embeddedAuthorizationRequest: components.EmbeddedAuthorizationRequest,
  shippoAccountId?: string | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.EmbeddedAuthorization,
      | ShippoError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const input: operations.CreateEmbeddedAuthorizationRequest = {
    embeddedAuthorizationRequest: embeddedAuthorizationRequest,
    shippoAccountId: shippoAccountId,
  };

  const parsed = safeParse(
    input,
    (value) =>
      z.parse(
        operations.CreateEmbeddedAuthorizationRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.EmbeddedAuthorizationRequest, {
    explode: true,
  });

  const path = pathToFunc("/embedded/authz")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "SHIPPO-ACCOUNT-ID": encodeSimple(
      "SHIPPO-ACCOUNT-ID",
      payload["SHIPPO-ACCOUNT-ID"],
      { explode: false, charEncoding: "none" },
    ),
    "SHIPPO-API-VERSION": encodeSimple(
      "SHIPPO-API-VERSION",
      client._options.shippoApiVersion,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "apiKey:header",
        value: security?.apiKeyHeader,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "oauth2",
        value: security?.shippoOAuth,
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "CreateEmbeddedAuthorization",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    components.EmbeddedAuthorization,
    | ShippoError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.EmbeddedAuthorization$inboundSchema),
    M.fail([400, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
