/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { ShippoCore } from "../core.js";
import { encodeJSON as encodeJSON$, encodeSimple as encodeSimple$ } from "../lib/encodings.js";
import * as m$ from "../lib/matchers.js";
import * as schemas$ from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
    ConnectionError,
    InvalidRequestError,
    RequestAbortedError,
    RequestTimeoutError,
    UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKError } from "../models/errors/sdkerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { Result } from "../types/fp.js";

/**
 * Update default parcel template
 *
 * @remarks
 * Update the currently configured default parcel template for live rates. The object_id in the request payload should identify the user parcel template to be the new default.
 */
export async function ratesAtCheckoutUpdateDefaultParcelTemplate(
    client$: ShippoCore,
    objectId?: string | undefined,
    options?: RequestOptions
): Promise<
    Result<
        components.DefaultParcelTemplate,
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >
> {
    const input$: components.DefaultParcelTemplateUpdateRequest | undefined = {
        objectId: objectId,
    };

    const parsed$ = schemas$.safeParse(
        input$,
        (value$) =>
            components.DefaultParcelTemplateUpdateRequest$outboundSchema.optional().parse(value$),
        "Input validation failed"
    );
    if (!parsed$.ok) {
        return parsed$;
    }
    const payload$ = parsed$.value;
    const body$ = payload$ === undefined ? null : encodeJSON$("body", payload$, { explode: true });

    const path$ = pathToFunc("/live-rates/settings/parcel-template")();

    const headers$ = new Headers({
        "Content-Type": "application/json",
        Accept: "application/json",
        "SHIPPO-API-VERSION": encodeSimple$(
            "SHIPPO-API-VERSION",
            client$.options$.shippoApiVersion,
            { explode: false, charEncoding: "none" }
        ),
    });

    const apiKeyHeader$ = await extractSecurity(client$.options$.apiKeyHeader);
    const security$ = apiKeyHeader$ == null ? {} : { apiKeyHeader: apiKeyHeader$ };
    const context = {
        operationID: "UpdateDefaultParcelTemplate",
        oAuth2Scopes: [],
        securitySource: client$.options$.apiKeyHeader,
    };
    const securitySettings$ = resolveGlobalSecurity(security$);

    const requestRes = client$.createRequest$(
        context,
        {
            security: securitySettings$,
            method: "PUT",
            path: path$,
            headers: headers$,
            body: body$,
            timeoutMs: options?.timeoutMs || client$.options$.timeoutMs || -1,
        },
        options
    );
    if (!requestRes.ok) {
        return requestRes;
    }
    const request$ = requestRes.value;

    const doResult = await client$.do$(request$, {
        context,
        errorCodes: ["400", "4XX", "5XX"],
        retryConfig: options?.retries || client$.options$.retryConfig,
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    });
    if (!doResult.ok) {
        return doResult;
    }
    const response = doResult.value;

    const [result$] = await m$.match<
        components.DefaultParcelTemplate,
        | SDKError
        | SDKValidationError
        | UnexpectedClientError
        | InvalidRequestError
        | RequestAbortedError
        | RequestTimeoutError
        | ConnectionError
    >(
        m$.json(200, components.DefaultParcelTemplate$inboundSchema),
        m$.fail([400, "4XX", "5XX"])
    )(response);
    if (!result$.ok) {
        return result$;
    }

    return result$;
}
