# Verification

## Example Usage

```typescript
import { Verification } from "shippo/models/components";

let value: Verification = {};
```

## Fields

| Field                                                              | Type                                                               | Required                                                           | Description                                                        |
| ------------------------------------------------------------------ | ------------------------------------------------------------------ | ------------------------------------------------------------------ | ------------------------------------------------------------------ |
| `policy`                                                           | [components.Policy](../../models/components/policy.md)             | :heavy_minus_sign:                                                 | Policy to indicate if the Account needs multi-factor verification. |